input{
    display: block;
    width: 100%;
}
#our_program{
    background-color: aquamarine;
    width: 400px;
    padding: 15px ;
    padding-top: 30px;
}
p{
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}
button{
    margin-top: 5px;
}