body {
    background-color: #333333;
  }
  p {
    margin: 0;
    color: #fff;
    text-align:  center;
  }
  div {
    top: 50px;
    position: relative;
    border: 3px solid #C2E1F5;  
    padding: 20px 15px;
    background-color: #88B7D5;
  }
  div::before {
    content:'';
    background:linear-gradient(-45deg, transparent 50%, #88b7d5 50%);
    width:50px;
    height:50px;
    position:absolute;
    top: -24px;
    left: 50%;
    transform:rotate(45deg);
    box-shadow:-3px -3px 0px 1px #c2e1f5 ;
    margin-left: -15px;
  }
  
  