body {
  background-color: #4E6379;
}

#hosting {
  margin: auto;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 610px;
  box-shadow: 0 10px 50px black;
}

.block {
  text-align: center;
  width: 200px;
  border-right: 1px solid #D9D9D9;
  display: inline-block;
}

.block:last-child {
    border-right: none;
  }

.image1 {
  background: no-repeat url(hosting.png) -0 -0px;
  width: 61px;
  height: 42px;
  margin: auto;
}

.image2 {
  background: no-repeat url(hosting.png) -0 -42px;
  width: 61px;
  height: 42px;
  margin: auto;
}

.image3 {
  background: no-repeat url(hosting.png) -0 -84px;
  width: 61px;
  height: 42px;
  margin: auto;
}

p {
  font-size: 14px;
}

h3 {
  color: #F56332;
  margin: 18px 0 15px 0;
  font-size: 16px;
}

button {    
  background-color: #F56332;
  border: none;
  border-radius: 2px;
  padding: 5px 8px;
  color: white;
}
